<h2>Roster</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= mail_to attendee.email %></td>
        <td><%= attendee.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>