<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @schedule_item_level.name %>
</p>


<%= link_to 'Edit', edit_schedule_item_level_path(@schedule_item_level) %> |
<%= link_to 'Back', schedule_item_levels_path %>
