<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @schedule_item_type.name %>
</p>


<%= link_to 'Edit', edit_schedule_item_type_path(@schedule_item_type) %> |
<%= link_to 'Back', schedule_item_types_path %>
